<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">
	<resultMap type="MemberVO" id="MemberVO">
		<id property="m_no" column="m_no"/>
		<result property="m_id" column="m_id"/>
		<result property="m_name" column="m_name"/>
	</resultMap>
	
	<resultMap type="ChatroomVO" id="ChatroomVO">
		<id property="cr_no" column="cr_no"/>
		<result property="cr_lastdate" column="cr_lastdate"/>
		<result property="cr_active1" column="cr_active1"/>
		<result property="cr_active2" column="cr_active2"/>
		<!-- <association property="lastMessage" column="ch_text" javaType="String" select="getLastMessageByChatroom" /> -->
		<collection property="cr_user1" columnPrefix="user_" resultMap="MemberVO"/>
		<collection property="cr_user2" columnPrefix="user2_" resultMap="MemberVO"/>
	</resultMap>
	
	<resultMap type="ChatVO" id="ChatVO">
		<id property="ch_no" column="ch_no"/>
		<result property="ch_date" column="ch_date"/>
		<result property="ch_text" column="ch_text"/>
		<result property="ch_check" column="ch_check"/>
		<collection property="ch_sender" columnPrefix="sender_" resultMap="MemberVO"/>
		<collection property="ch_receiver" columnPrefix="receiver_" resultMap="MemberVO"/>
	</resultMap>
	
	<insert id="addChatroom" parameterType="ChatroomVO">
	INSERT INTO chatroom
	VALUES (
		cr_no_seq.NEXTVAL, #{cr_user1.m_no}, #{cr_user2.m_no}, sysdate, 1, 1
	)
		<selectKey keyProperty="cr_no" resultType="Integer" order="AFTER">
		SELECT cr_no_seq.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<select id="getChatroomListByUser" parameterType="ChatroomVO" resultMap="ChatroomVO">
	SELECT cr_no,
	       cr_user1 user_m_no, m.m_id user_m_id, m.m_name user_m_name,
	       cr_user2 user2_m_no, m2.m_id user2_m_id, m2.m_name user2_m_name,
	       cr_lastdate, cr_active1, cr_active2
	FROM chatroom cr, member m, member m2
	WHERE ((cr_user1 = #{cr_user1.m_no} AND cr_active1 = 1)
	   OR (cr_user2 = #{cr_user1.m_no} AND cr_active2 = 1))
	  AND cr_user1 = m.m_no AND cr_user2 = m2.m_no
	ORDER BY cr_lastdate desc
	</select>
	
	<select id="getLastMessageByChatroom" parameterType="Integer" resultType="String">
	SELECT * FROM (
		SELECT ch_text FROM chat
		WHERE cr_no = #{cr_no}
		ORDER BY ch_date DESC
	) WHERE ROWNUM = 1
	</select>
	
	<select id="getChatroomByNo" parameterType="ChatroomVO" resultMap="ChatroomVO">
	SELECT cr_no,
	       cr_user1 user_m_no, m.m_id user_m_id, m.m_name user_m_name,
	       cr_user2 user2_m_no, m2.m_id user2_m_id, m2.m_name user2_m_name,
	       cr_lastdate, cr_active1, cr_active2
	FROM chatroom cr, member m, member m2
	WHERE cr_no = #{cr_no}
	  AND cr_user1 = m.m_no AND cr_user2 = m2.m_no
	</select>
	
	<select id="getChatroomByUsers" parameterType="ChatroomVO" resultType="ChatroomVO">
	SELECT * FROM chatroom
	WHERE cr_user1 = #{cr_user1.m_no} AND cr_active1 = 1
	  AND cr_user2 = #{cr_user2.m_no} AND cr_active2 = 1
	</select>
	
	<update id="updateChatroomDate" parameterType="ChatroomVO">
	UPDATE chatroom
	SET cr_lastdate = sysdate
	WHERE cr_no = #{cr_no}
	</update>
	
	<update id="leaveChatroomUser1" parameterType="ChatroomVO">
	UPDATE chatroom
	SET cr_active1 = 0
	WHERE cr_no = #{cr_no}
	</update>
	
	<update id="leaveChatroomUser2" parameterType="ChatroomVO">
	UPDATE chatroom
	SET cr_active2 = 0
	WHERE cr_no = #{cr_no}
	</update>
	
	<insert id="sendChat" parameterType="ChatVO">
	INSERT INTO chat
	VALUES (
		ch_no_seq.NEXTVAL, #{ch_sender.m_no}, #{ch_receiver.m_no}, sysdate, #{ch_text}, 0, #{cr_no.cr_no}
	)
	</insert>
	
	<select id="getChatByChatroom" parameterType="ChatroomVO" resultMap="ChatVO">
	SELECT ch_no,
	 	   ch_sender sender_m_no, m.m_id sender_m_id, m.m_name sender_m_name,
	       ch_receiver receiver_m_no, m2.m_id receiver_m_id, m2.m_name receiver_m_name,
	       ch_date, ch_text, ch_check
	FROM chat ch, member m, member m2 
	WHERE cr_no = #{cr_no}
	  AND ch_sender = m.m_no AND ch_receiver = m2.m_no
	ORDER BY ch_date DESC
	</select>
	
	<update id="checkChat" parameterType="ChatVO">
	UPDATE chat
	SET ch_check = 1
	WHERE ch_no = #{ch_no}
	</update>
	
	<select id="chatRefreshCount" parameterType="Integer" resultType="Integer">
		select COUNT(*) AS CNT from chat 
		where ch_receiver = #{ch_receiver} and ch_check = 0
	</select>
	
	<!-- 체크가 0이면서 리시버가 나고 채팅방 번호가 맞는 개수 -->
	<select id="chatroomRefresh" parameterType="ChatVO" resultType="Integer">
		select COUNT(*) AS CNT from chat 
		where ch_receiver = #{ch_receiver.m_no} and ch_check = 0 and cr_no = #{cr_no.cr_no}
	</select>
</mapper>