<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="requestMapper">
	<resultMap id="RequestVOResultMap" type="RequestVO">
		<!-- 숫자인 경우, javaType="Integer" jdbcType="NUMERIC" -->
		<id property="r_no" column="r_no" javaType="Integer" jdbcType="NUMERIC" />
		<result property="c_no" column="c_no" javaType="Integer"
			jdbcType="NUMERIC" />
		<result property="r_title" column="r_title" javaType="String"
			jdbcType="VARCHAR" />
		<result property="r_content" column="r_content" javaType="String"
			jdbcType="CLOB" />
		<result property="r_active" column="r_active" javaType="Integer"
			jdbcType="NUMERIC" />
		<result property="r_date" column="r_date" javaType="String"
			jdbcType="DATE" />
	</resultMap>

	<insert id="insertRequest" parameterType="RequestVO">
		insert into request
		values
		(R_NO_SEQ.NEXTVAL,#{c_no},#{r_title},#{r_content},1,SYSDATE,#{r_writer})
		<!-- values (R_NO_SEQ.NEXTVAL,#{c_no},#{r_title},#{r_content},1,SYSDATE,27) -->
	</insert>

	<select id="getAllActiveRequestsByWriter" parameterType="hashmap"
		resultType="RequestVO">
 			SELECT * FROM (
			SELECT ROWNUM rnum, b.*
			FROM (
				SELECT r_no, c_no, r_title, r_content, r_active, r_date, r_writer 
                FROM request
				WHERE r_active = 1
				AND r.writer=#{value}
				ORDER BY r_no DESC
				) b
			)
			WHERE rnum BETWEEN ((#{page}-1) * 10 + 1)
			AND ((#{page}) * 10)
		<!-- select * from request where r_writer=#{value} and r_active=1 -->
	</select>

	<select id="getAllActiveRequestsByWriterCount" parameterType="Integer"
		resultType="RequestVO">
 			SELECT count(*) FROM (
			SELECT b.*
			FROM (
				SELECT r_no, c_no, r_title, r_content, r_active, r_date, r_writer 
                FROM request
				WHERE r_active = 1
				AND r.writer=#{value}
				ORDER BY r_no DESC
				) b
			)
		<!-- select * from request where r_writer=#{value} and r_active=1 -->
	</select>
	
	<select id="getAllInactiveRequestsByWriter" parameterType="Integer"
		resultType="Integer">
		select r_no from request where r_writer=#{value} and
		r_active=0
	</select>

	<!-- <select id="getAllInactiveRequestsByWriter" parameterType="Integer" -->
	<!-- resultType="RequestVO"> -->
	<!-- select * from request where r_writer=#{value} and -->
	<!-- r_active=0 -->
	<!-- </select> -->

	<select id="getAllRequestsByCategory" parameterType="Integer"
		resultType="RequestVO">
		<!-- select * from request where c_no=#{value} and r_active=1 -->
		select * from request r, (select * from apply where g_no = #{value}) a
		where r.r_no = a.r_no and r_active=1 order by r.r_no
	</select>

	<select id="getRequestDetail" parameterType="Integer"
		resultType="RequestVO">
		select * from request where r_no=#{value}
	</select>

	<select id="countRequest" parameterType="Integer" resultType="Integer">
		SELECT count(*) FROM request
		WHERE c_no=#{c_no}
	</select>

	<select id="pageReqList" parameterType="hashmap" resultType="RequestVO">
		SELECT * FROM (
		SELECT ROWNUM rnum, r.*
		FROM (
		<!-- SELECT * FROM request
		WHERE c_no=#{c_no}
		ORDER BY r_no -->
		SELECT * FROM request a
		WHERE a.r_no not in (select r_no from apply where g_no = #{g_no}) and c_no=#{c_no} and a.r_active=1
		ORDER BY a.r_no
		) r
		)
		WHERE rnum BETWEEN ((#{page}-1) * 10 + 1)
		AND ((#{page}) * 10)
	</select>
	
<!-- 	<select id="getRequestWaitingHire" parameterTpye="">
		
	</select> -->
	<insert id="insertApply" parameterType="ApplyVO">
		insert into apply
		values (#{r_no}, #{m_no}, #{g_no})
	</insert>

	<select id="getRequestWaitingHire" parameterType="Integer" resultType="RequestVO">
		select r.r_no,
		r.c_no, r.r_title, to_char(r_date,
		'yyyy.mm.dd hh24:mi') r_date
		from request r, apply a
		where r.r_no = a.r_no and r_writer=#{value}
	</select>
</mapper>