@charset "utf-8";

.chat {
	position: absolute;
	z-index: 8888;
}

.chat_room {
	/* display: none; */
	width: 250px;
	height: 500px;
	overflow:hidden;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
	background: rgb(88, 88, 88);
	border-radius: 20px;
	position: fixed;
	right: 264px;
	bottom: 50px;
}

.chat_room_titleBar {
	position: relative;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 5px 5px 5px 20px;
}

.chat_room_titleBar_btn {
	position: relative;
	top: -15px;
	left: 150px;
}