@charset "utf-8";

.chat {
	position: absolute;
	z-index: 8888;
}

.chat_room {
	/* display: none; */
	width: 250px;
	height: 500px;
	overflow: hidden;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
	background: rgb(88, 88, 88);
	border-radius: 20px;
	position: fixed;
	right: 264px;
	bottom: 50px;
}

.chat_window {
	/* display: none; */
	width: 250px;
	height: 500px;
	overflow: hidden;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
	background: rgb(88, 88, 88);
	border-radius: 20px;
	position: fixed;
	right: 10px;
	bottom: 50px;
}

.chat_room_titleBar {
	position: relative;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	padding: 5px 0px 0px 15px;
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
}

.chat_room_titleBar_name {
	position: relative;
	top: 10px;
}

.chat_room_titleBar_btn {
	position: relative;
	top: -15px;
	left: 130px;
}

.chat_window_titleBar_btn {
	position: relative;
	top: -15px;
	left: 194px;
}

.chat_room_titleBar_btn img {
	width: 32px;
	height: 32px;
	padding: 0px;
	cursor: pointer;
}

.chat_room_titleBar_btn img:hover {
	width: 32px;
	height: 32px;
	padding: 0px;
	cursor: pointer;
	background-color: rgba(244,244,244, 0.4);
}

.chat_window_titleBar_btn img {
	width: 32px;
	height: 32px;
	padding: 0px;
	cursor: pointer;
}

.chat_window_titleBar_btn img:hover {
	width: 32px;
	height: 32px;
	padding: 0px;
	cursor: pointer;
	background-color: rgba(244,244,244, 0.4);
}

.chat_room_list_frame {
	border: 0px;
	width: 244px;
	height: 400px;
	margin-bottom: 10px;
}

.chat_room_input {
	background: rgba(0, 0, 0, 0.3);
	padding: 7px;
	position: relative;
}

.chat_room_input .chat_text {
	background: none;
	border: none;
	outline: none !important;
	resize: none;
	color: rgba(255, 255, 255, 0.7);
	font-size: 11px;
	height: 17px;
	margin: 0;
	padding-right: 20px;
	width: 200px;
}

.chat_room_input .chat_send {
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 6px;
	color: #fff;
	border: none;
	background: #248A52; font-size : 10px; text-transform : uppercase;
	line-height : 1; padding : 6px 10px; border-radius : 10px; outline :
	none !important; -webkit-transition : background .2s ease;
	transition: background .2s ease;
	top: 5px;
	right: 6px;
	color: #fff;
	border: none;
	background: #248A52;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1;
	padding: 6px 10px;
	border-radius: 10px;
	outline: none !important;
	-webkit-transition: background .2s ease;
	right: 6px;
	color: #fff;
	border: none;
	background: #248A52;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1;
	padding: 6px 10px;
	border-radius: 10px;
	outline: none !important;
	-webkit-transition: background .2s ease;
	color: #fff;
	border: none;
	background: #248A52;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1;
	padding: 6px 10px;
	border-radius: 10px;
	outline: none !important;
	-webkit-transition: background .2s ease;
	border: none;
	background: #248A52;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1;
	padding: 6px 10px;
	border-radius: 10px;
	outline: none !important;
	-webkit-transition: background .2s ease;
	background: #248A52;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1;
	padding: 6px 10px;
	border-radius: 10px;
	outline: none !important;
	-webkit-transition: background .2s ease;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1;
	padding: 6px 10px;
	border-radius: 10px;
	outline: none !important;
	-webkit-transition: background .2s ease;
}

.chat_list_opp {
	clear: both;
	float: left;
	padding: 6px 10px 7px;
	border-radius: 10px 10px 10px 0;
	background: rgba(255, 255, 255, 0.2);
	margin: 10px 0;
	font-size: 11px;
	line-height: 1.4;
	position: relative;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	color: rgba(255, 255, 255, 0.8);
	min-width: 100px;
}

.chat_list_opp::before {
	content: '';
	position: absolute;
	bottom: -6px;
	border-top: 6px solid rgba(255, 255, 255, 0.2);
	left: 0;
	border-right: 7px solid transparent;
}

.chat_list_opp_time {
	position: absolute;
	bottom: -15px;
	font-size: 9px;
	color: rgba(255, 255, 255, 0.3);
}

.chat_list_me {
	clear: both;
	float: right;
	text-align: right;
	padding: 6px 10px 7px;
	border-radius: 10px 10px 0 10px;
	background: rgba(100, 255, 255, 0.2);
	margin: 10px 0;
	font-size: 11px;
	line-height: 1.4;
	position: relative;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	color: rgba(255, 255, 255, 0.8);
	min-width: 120px;
}

.chat_list_me::before {
	left: auto;
	right: 0;
	border-right: none;
	border-left: 5px solid transparent;
	border-top: 4px solid rgba(100, 255, 255, 0.2);
	bottom: -4px;
	content: '';
	position: absolute;
}

.chat_list_me_time {
	position: absolute;
	bottom: -15px;
	font-size: 9px;
	color: rgba(255, 255, 255, 0.3);
}

.chat_room_list {
	clear: both;
	float: left;
	padding: 6px 10px 7px;
	border-radius: 10px 10px 10px 10px;
	background: rgba(255, 255, 255, 0.2);
	margin: 4px 0;
	font-size: 11px;
	line-height: 1.4;
	position: relative;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	color: rgba(255, 255, 255, 0.8);
	width: 229px;
	left: 5px;
}

.chat_room_list:hover{
	clear: both;
	float: left;
	padding: 6px 10px 7px;
	border-radius: 10px 10px 10px 10px;
	background: rgba(100, 255, 100, 0.5);
	margin: 4px 0;
	font-size: 11px;
	line-height: 1.4;
	position: relative;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	color: rgba(255, 255, 255, 0.8);
	width: 229px;
	left: 5px;
	cursor: pointer;
}